# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native folders in app
app/ios/
app/android/

# Kotlin / Android / iOS keys
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro / Debug logs
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# IDEs & System files
.DS_Store
.vscode/
.claude/
.idea/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env*.local

# TypeScript
*.tsbuildinfo
